@import '../login/login.component.scss';

.container{
h3{
    position: relative;
    left: 27%;
    top: 3%;
}

.fa-plus{
    transform: rotate(45deg);
    position: relative;
    right: -92%;
    top: 4%;
    color: #656568;
    font-size: 30px;
}

input{
    top: 10%;
}

button{
left: 35%;
top: 11%;
}
}