@import '../login/login.component.scss';

.container {
  h3 {
    position: relative;
    left: 27%;
    top: 14%;
  }

  .close {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 42px;
    color: #000000;
    transform: rotate(45deg);

    &:hover {
      text-decoration: none;
    }
  }

  input {
    top: 20%;
  }

  button {
    left: 35%;
    top: 22%;
  }
}
