@import '../../../styles.scss';
@import '../../../variable.scss';

body {
  background: #F7F7F7;
  height: 1050px;
  font-family: "Inv Maison Neue", "Maison Neue", -apple-system, BlinkMacSystemFont, "Open Sans", open-sans, sans-serif;
  width: 100%;
  box-sizing: border-box;

  .userProfile {
    position: relative;
    left: 84%;
    top: -28%;

    p {
      margin: 0;
    }

    img {
      width: 40px;
      height: 40px;
      position: absolute;
      left: 6%;
      top: -25%;
      border-radius: 30px;
      border-color: $brightpink;
      border-style: solid;
    }
  }

  .container {

    .card {
      background-color: $white;
      border-radius: 20px;
      height: 480px;
      font-size: 16px;
      width: 100%;
      margin-top: 2%;
      padding: 2%;
      border-style: none;

      .header {
        padding: 0;
        margin: 0;
        font-weight: bold;
        font-size: 23px;
        width: 80%;
        padding-bottom: 7px;
      }

      .question {
        margin-top: 15px;
        margin-bottom: 38px;
        background-color: $brightpink;
        color: $white;
        border-color: $brightpink;
        border-style: none;
        height: 49px;
        border-radius: 20px;
        box-shadow: 0px 10px 13px -7px $brightpink, 0px 6px 15px -2px rgba(0, 0, 0, 0);
      }

      .guideLine {
        background-color: $lightpink;
        color: #000000;
        border-color: $brightpink;
        border-style: none;
        height: 49px;
        text-align: start;
        border-radius: 20px;
        margin-bottom: 30px;
      }

      p {
        font-size: 19px;
        padding-bottom: 20px;
      }

      .bi {
        width: 40px;
        height: 40px;
        color: black;
      }
    }

    .inputForm {
      .block {
        position: relative;
        top: 0;

        .second {
          background: $white;
          margin-top: 3%;
          border-radius: 20px;
          height: 1000px;

          .details {
            background-color: $white;
            display: inline-grid;
            width: 100%;
            height: 900px;
            border-radius: 20px;
            padding: 1%;

            h5 {
              position: relative;
              top: 30%;
              left: 2%;
              font-weight: bold;
            }

            input {
              width: 90%;
              margin: 1%;
              border-radius: 5px;
              border-style: solid;
              border-width: 1px;
              padding-left: 4%;
              margin-bottom: 2%;
              height: 60px;
            }

            .title {
              position: relative;
              top: 11%;

              input:focus~label {
                font-size: 12px;
                top: -84px;
                background-color: #ffffff;
                left: 4%;
              }

              label {
                position: relative;
                top: -42%;
                left: 5%;
              }
            }

            p {
              margin-top: 5%;
              padding: 0;
              position: relative;
              left: 4%;
              height: 0px;
              top: -128%;
            }

            .description {
              position: relative;
              top: -37%;
              height: 75px;

              label {
                position: relative;
                top: -70%;
                left: 6%;
              }

              input:focus~label {
                font-size: 12px;
                top: -84px;
                background-color: #ffffff;
                left: 4%;
              }
            }

            .content {
              display: inline-flex;
              width: 98%;
              position: relative;
              top: 2%;
              left: 1%;

              label {
                position: relative;
                top: -40%;
                left: 6%;
              }

              input:focus~label {
                font-size: 12px;
                background-color: #ffffff;
                top: -79px;
                left: 6%;
              }
            }

            h6 {
              position: relative;
              top: 45%;
              left: 1%;
              font-weight: 600;
            }

            .start {
              width: 93%;
              display: inline-flex;
              position: relative;
              top: 16%;

              label {
                position: relative;
                top: -40%;
                left: 6%;
              }

              img {
                position: relative;
                top: -44%;
                left: 16%;
              }

              input:focus~label {
                font-size: 12px;
                background-color: #ffffff;
                top: -77px;
                left: 8%;
              }
            }

            .participant {
              display: inline-flex;
              width: 95%;
              position: relative;
              top: 32%;

              label {
                position: relative;
                top: -42%;
                left: 6%;
              }

              img {
                position: relative;
                top: -44%;
                left: 16%;
              }

              input:focus~label {
                font-size: 12px;
                background-color: #ffffff;
                top: -78px;
                left: 6%;
              }
            }

            .mail {
              position: relative;
              top: 35%;

              label {
                position: relative;
                top: -48%;
                left: 6%;
              }

              input:focus~label {
                font-size: 12px;
                background-color: #ffffff;
                top: -85px;
                left: 4%;
              }
            }
          }

          .instruction {

            img {
              position: relative;
              top: -12%;
              margin-right: 4%;
            }

            button {
              background: $lightpink;
              border-style: none;
              color: $brightpink;
              display: inline-flex;
              width: 100%;
              margin-bottom: 3%;
              height: 42px;
              padding-top: 8%;
              margin-top: 10%;
              text-align: start;
              border-radius: 7px;
              font-size: 12px;
              font-weight: 700;
            }

            .dropup {
              position: relative;
              top: 51%;
              color: #ffffff00;
              border: none;

              .patch {
                position: absolute;
                background-color: rgba(0, 0, 0, 0.384);
                width: 1580px;
                height: 1200px;
                top: -1433%;
                left: -725%;
                display: none;
              }

              .btn {
                position: relative;
                top: 56%;
                left: 55%;
                font-size: 36px;
                width: 50px;
                border-radius: 26px;
                height: 50px;
                align-items: center;
                justify-items: center;
                background-color: $brightpink;
                color: #ffffff;
                font-weight: bold;
                padding-left: 14px;
                padding-top: 6px;
                box-shadow: 0px 10px 13px -7px $brightpink, 0px 6px 15px -2px rgba(0, 0, 0, 0);
              }

              .dropdown-menu {
                border: none;
                text-align: center;

                .slider {
                  position: relative;
                  left: -65%;
                  text-align: center;

                  button{
                    border-radius: 20px;
                    width: 130%;
                  
                  }

                  // .btnPassword{
                  //   padding-left: 50px;
                  // }
                }
              }
            }
          }
        }
      }
    }
  }

  .bg-modal {
    width: 100%;
    height: 1050px;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0%;
    left: 0;
    justify-content: center;
    align-items: center;
    display: none;

    p {
      font-weight: bold;
      font-size: 26px;
      position: relative;
      top: 10%;
      left: 8%;
    }

    .modal-content {
      width: 980px;
      height: 600px;
      position: relative;
      top: 40%;
      left: 12%;
      border-radius: 10px;
      display: inline-block;
      z-index: 1050;

      .close {
        position: absolute;
        top: 0;
        right: 10px;
        font-size: 42px;
        color: #656568;
        transform: rotate(45deg);
        cursor: pointer;
      }

      input {
        width: 20%;
        position: relative;
        top: 12%;
        height: 54px;
        left: 8%;
        margin-right: 2%;
      }

      .adminMail {
        width: 24%;
      }

      .add {
        font-size: 26px;
        width: 50px;
        border-radius: 26px;
        height: 50px;
        top: 12%;
        left: 9%;
        position: relative;
        background-color: $brightpink;
        color: #ffffff;
        font-weight: bold;
        border-style: none;
        box-shadow: 0px 10px 13px -7px $brightpink, 0px 6px 15px -2px rgba(0, 0, 0, 0);
      }

      .edit {
        font-size: 15px;
        width: 50px;
        border-radius: 26px;
        height: 50px;
        top: 12%;
        left: 9%;
        position: relative;
        background-color: $brightpink;
        color: #ffffff;
        font-weight: bold;
        border-style: none;
        box-shadow: 0px 10px 13px -7px $brightpink, 0px 6px 15px -2px rgba(0, 0, 0, 0);
      }

      .delete {
        font-size: 17px;
        width: 50px;
        border-radius: 26px;
        height: 50px;
        top: 12%;
        left: 11%;
        position: relative;
        background-color: $brightpink;
        color: #ffffff;
        font-weight: bold;
        border-style: none;
        box-shadow: 0px 10px 13px -7px $brightpink, 0px 6px 15px -2px rgba(0, 0, 0, 0);
      }

      .cancel {
        border-radius: 30px;
        position: relative;
        top: 36%;
        left: 53%;
        margin-left: 1%;
        width: 110px;
        background-color: #d92756;
        color: white;
        border-color: #d92756;
        border-style: none;
        height: 49px;
        box-shadow: 0px 10px 13px -7px #d92756, 0px 6px 15px -2px rgba(0, 0, 0, 0);
      }

      .employOne {
        position: relative;
        top: 23%;
      }

      .employTwo {
        position: relative;
        top: 28%;
      }

      .modal-backdrop.show {
        opacity: 0;
      }

      .modal-backdrop {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #000;
      }
    }
  }
}
